body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-left {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin-left: 48px;
}

.header-right {
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 48px;
    display: flex; 
    gap: 10px;
}

.quote-section {
    background-color: #e5e7eb;
}

.footer {
    background-color: #1f2937;
}

.cta-box {
    background-color: #3882f6;
}